* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
  background-image: url(https://dl.dropboxusercontent.com/u/5038771/hewlett-windows.jpg);
  background-origin:padding-box;
  background-repeat: no-repeat;
  background-color: black;
  background-attachment: fixed;
  background-position: center; 
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid grey;
}

#wrapper {
/*   border: 3px solid pink; */
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.keys {
  width: 100%;
  border: 3px solid rgba(0,0,0,0.6);
  display: flex;
/*   justify-content: space-between; */
  align-items: center;  
  align-content: space-between;
}

.key {
  height: auto;
  min-height: 80px;
  color: white;
  font-size: 4em;
  flex: 0.8;
  border: 3px solid rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.6);
  margin: 0.5%;
  border-radius: 15%;
  transition:all .08s;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.playing {
  border: 3px solid #cc0066;
  box-shadow: 0 0 10px #cc00cc;
  color: #cc0066;
  text-shadow: 0 0 10px #ff0000;
  transform:scale(1.1);
}
